.container {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    /*max-width: 900px; /* or 950px */
  }

div.container2 {
  max-width: 5000px;
}

a.button{
  display:inline-block;
  background-color: white;
  color: black;
  border: 2px solid #484b48;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  margin-inline-start: 200px;
  margin-inline-end: 390px;
  writing-mode: horizontal-tb;
  direction: ltr;
}