{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h2>Client list</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Birthday</th>
                        <th>Registration Date</th>
                        <th>Address</th>
                        <th>E-Mail Address</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in latest_client_list %}
                    <tr>
                        <td>
                            <a href="{% url 'client_subscription' line.client_number %}">
                                <div style="height:100%;width:100%">
                                    {{ line.client_number }}
                                </div>
                            </a>
                        </td>
                        <td>{{ line.first_name }}</td>
                        <td>{{ line.last_name }}</td>
                        <td>{{ line.birthdate }}</td>
                        <td>{{ line.registration_date }}</td>
                        <td>{{ line.address }}</td>
                        <td>{{ line.email_address }}</td>

                        <form>
                            <td>
                                <button type="submit" name={{line.client_number}} class="btn">

                                    <a onclick="return confirm('Are you sure do you want to delete this client?')"
                                        href="{% url 'remove_client' line.id %}"><i
                                            class="fas fa-trash"></i></a></button>

                            </td>
                        </form>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% include 'footer.html' %}
</body>
<link rel="stylesheet" type="text/css" href="{% static 'css/client_table_style.css' %}">

</html>