{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/subscription_table_style.css' %}">
</head>

<body>
    {% include 'navbar.html' %}

    <div class="container">
        <h2>Series Subscription Table</h2>
        <p>This table shows which clients are subscribed to a particular series</p>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Client Number</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in subscription_list %}
                    <tr>
                        <td>{{ line.client.client_number }}</td>
                        <td>{{ line.client.first_name }} {{ line.client.last_name }}</td>
                        <td>{{ line.series }}</td>
                        <td>{{ line.begin_date }}</td>
                        <td>{{ line.end_date }}</td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>