{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/client_table_style.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container">
        <h2>Series list</h2>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Publisher</th>
                        <th>Name</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in series_list %}
                    <tr>
                        <td>{{ line.publisher}} </td>

                        <td>
                            <a href="{% url 'series_subscription' line.id %}">
                                <div style="height:100%;width:100%">
                                    {{ line.name }}
                                </div>
                            </a>
                        </td>
                        <td>{{ line.volume }}</td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>

</html>