{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/subscription_table_style.css' %}">
</head>

<body>
    {% include 'navbar.html' %}
    <div class="container2">
        <a href="{% url 'addsubscription' slug_field %}" class="button btn btn-primary">Add a new subscription</a>
    </div>

    <div class="container">
        <h2>Subscription Table for Client Number {{client_id}} </h2>
        <p>This table shows to which series is the client subscribed</p>
        <div class="table-responsive w-100">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Series</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Cancel Sub?</th>
                    </tr>
                </thead>
                <tbody>
                    {% for line in subscription_list %}
                    <tr>
                        <td>{{ line.client.client_number }}</td>
                        <td>{{ line.client.first_name }} {{ line.client.last_name }}</td>
                        <td>{{ line.series }}</td>
                        <td>{{ line.begin_date }}</td>
                        <td>{{ line.end_date|default_if_none:'' }}</td>
                        <td>
                            <form action="{% url 'end_subscription' pk=line.id %}" method=POST>
                                {% csrf_token %}
                                <button id="approve-btn" type="submit" class="btn"><i
                                        class="fas fa-times-circle"></i></button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</body>


</html>